In [1]:
#!pip3 install pandas seaborn matplotlib numpy statsmodels
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import warnings

warnings.filterwarnings('ignore')

In [2]:


# Leer CSV 
df = pd.read_csv("../src/preprocessing/data/raw/raw_kaggle_data.csv")

# Mostrar resultados
display(df.head())  # primeros 5 registros
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1.0,8.0,5.0,2.0,1.0,1.0,1.0,13.0,10.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.8,1.4,1.74,Dropout
1,1.0,6.0,1.0,11.0,1.0,1.0,1.0,1.0,3.0,4.0,...,0.0,6.0,6.0,6.0,13.666666666666666,0.0,13.9,-0.3,0.79,Graduate
2,1.0,1.0,5.0,5.0,1.0,1.0,1.0,22.0,27.0,10.0,...,0.0,6.0,0.0,0.0,0.0,0.0,10.8,1.4,1.74,Dropout
3,1.0,8.0,2.0,15.0,1.0,1.0,1.0,23.0,27.0,6.0,...,0.0,6.0,10.0,5.0,12.4,0.0,9.4,-0.8,-3.12,Graduate
4,2.0,12.0,1.0,3.0,0.0,1.0,1.0,22.0,28.0,10.0,...,0.0,6.0,6.0,6.0,13.0,0.0,13.9,-0.3,0.79,Graduate

Filas: 4424, Columnas: 35

In [3]:
# === Leer Parquet:===
#
# !pip -q install pyarrow en caso no tenga


# Leer Parquet (usa pyarrow por defecto en Colab)
df = pd.read_parquet("../src/preprocessing/data/raw/raw_kaggle_data.parquet")

# Mostrar resultados
display(df.head())  # primeros 5 registros
print(f"Filas: {df.shape[0]}, Columnas: {df.shape[1]}")

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1.0,8.0,5.0,2.0,1.0,1.0,1.0,13.0,10.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.8,1.4,1.74,Dropout
1,1.0,6.0,1.0,11.0,1.0,1.0,1.0,1.0,3.0,4.0,...,0.0,6.0,6.0,6.0,13.666666666666666,0.0,13.9,-0.3,0.79,Graduate
2,1.0,1.0,5.0,5.0,1.0,1.0,1.0,22.0,27.0,10.0,...,0.0,6.0,0.0,0.0,0.0,0.0,10.8,1.4,1.74,Dropout
3,1.0,8.0,2.0,15.0,1.0,1.0,1.0,23.0,27.0,6.0,...,0.0,6.0,10.0,5.0,12.4,0.0,9.4,-0.8,-3.12,Graduate
4,2.0,12.0,1.0,3.0,0.0,1.0,1.0,22.0,28.0,10.0,...,0.0,6.0,6.0,6.0,13.0,0.0,13.9,-0.3,0.79,Graduate

Filas: 4424, Columnas: 35